<div class="superContainer">
  <div class="titleContainer" (click)="spinToWin()">
    <h1 class="title">Lunchtime</h1>
  </div>

  <div class="wheelContainer">
    <div class="needle"></div>
    <canvas baseChart
            [chartType] = "foodChart.pieType"
            [data] =      "foodChart.pieData"
            [colors] =    "foodChart.pieColors"
            [labels] =    "foodChart.pieLabels"
            [options] =   "foodChart.pieOptions">
    </canvas>
  </div>

  <div class="optionsContainer">
    <ul>
      <li class="option" *ngFor="let option of foodChart.foodOptions">
        <div>
          <button (click)="updateOptionValue(option, true)">👍</button>
          <p class="name" [ngStyle]="{background: option.color}">{{option.name}}</p>
          <p class="active">{{option.value | optionActive}}</p>
          <button (click)="updateOptionValue(option, false)">👎</button>
        </div>
      </li>
    </ul>
  </div>
</div>
