<div class="superContainer">
  <div class="titleContainer" (click)="spinToWin()">
    <h1 class="title">Lunchtime</h1>
  </div>

  <div class="wheelContainer">
    <div class="needle"></div>
    <div class="pieSwitches">
      <button class="prev" (click)="switchChart(false)"><</button>
      <button class="next" (click)="switchChart(true)">></button>
    </div>

    <canvas baseChart
            [chartType] = "activeChart.pieType"
            [data] =      "activeChart.pieData"
            [colors] =    "activeChart.pieColors"
            [labels] =    "activeChart.pieLabels"
            [options] =   "activeChart.pieOptions">
    </canvas>
  </div>

  <!-- Temp test button, pls style -->
  <button class="next" (click)="makeNewChart()">new?</button>

  <div class="optionsContainer">
    <ul>
      <li class="option" *ngFor="let option of activeChart.foodOptions">
        <div>
          <button (click)="updateOptionValue(option, true)">👍</button>
          <p class="name" [ngStyle]="{background: option.color}">{{option.name}}</p>
          <p class="active">{{option.value | optionActive}}</p>
          <button (click)="updateOptionValue(option, false)">👎</button>
        </div>
      </li>
    </ul>
  </div>
</div>
