<div class="superContainer">
  <div class="titleContainer" (click)="spinToWin()">
    <h1 class="title">Lunchtime</h1>
  </div>

  <div class="wheelContainer">
    <div class="needle"></div>
    <canvas baseChart
            [chartType] = "pieType"
            [data] =      "pieData"
            [colors] =    "pieColors"
            [labels] =    "pieLabels"
            [options] =   "pieOptions">
    </canvas>
  </div>

  <div class="optionsContainer">
    <ul>
      <li class="option" *ngFor="let option of options" (click)="toggleOption(option)">
        <div><p>{{option.name}}</p> <p class="active">{{option.value | optionActive}}</p></div>
      </li>
    </ul>
  </div>
</div>
