html, body {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

body {
  font-family: 'Oxygen', sans-serif;

  background-image: url("./assets/img/bg.svg");
  background-color: #1A2A3D;
}

.hidden {
  display: none;
}
