// Variables
$color-first: #1A2A3D;
$color-second: #45C3EC;

// Media Variables
$screen-xs-max: 543px;
$screen-sm-min: 544px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

// Media Mixins
@mixin xs-max() {
  @media only screen and (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin sm-min() {
  @media only screen and (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin sm-max() {
  @media only screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin md-min() {
  @media only screen and (min-width: $screen-md-min) {
    @content;
  }
}

@mixin md-max() {
  @media only screen and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin lg-min() {
  @media only screen and (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin lg-max() {
  @media only screen and (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin xl-min() {
  @media only screen and (min-width: $screen-xl-min) {
    @content;
  }
}

// Imports
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400');
